* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all ease .2s;
}

:root {
    --first-color: #f9f9f9;
    --second-color: #000;
    --third-color: #fff;
    --fourth-color: #fff;
    --fifth-color: #e0e0e0
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.dark-theme {
    --first-color: #111111;
    --second-color: #fff;
    --third-color: #202020;
    --fourth-color: #111111;
    --fifth-color: #111111;
}

html,
body {
    background-color: var(--first-color);
    line-height: 1.5;
    font-family: 'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}

.section {
    display: block;
    padding: 5% 0;
}

.container {
    width: 100%;
    padding: 0 20%;
    margin: 0 auto;
}

.background-white {
    background-color: var(--fourth-color);
    border-top: 1px solid var(--fifth-color);
    border-bottom: 1px solid var(--fifth-color);
}


/*--------Section 1 - Nav--------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    background-color: var(--third-color);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
    position: fixed;
    z-index: 4;
    padding: 0 20%;
    transition: all ease 0.5s;
}

#nav-menu {
    display: none;
    border: none;
    font-size: 1.8em;
    color: #007bff;
    position: relative;
}

.fa-times {
    transform: rotate(180deg);
}

#darkmode-btn {
    display: none;
    font-size: 1.8em;
    color: #007bff;
}

.nav-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-brand img {
    width: 60px;
    height: 60px;
    filter: hue-rotate(200deg);
}

.nav-text {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 700;
    min-width: 200px;
    padding: 0 1em;
    color: var(--second-color);
}

.nav-text span {
    color: #007bff;
}

.nav-list li {
    display: inline-block;
    margin: 0.5em;
}

.nav-list li a {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
    color: var(--second-color);
    transition: width 0.2s ease-out, background-color .2s ease-out;
}

.nav-list li a:hover {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transition: color .2s linear;
}


/*--------Section 2 - Home--------*/

.section-2 {
    background-image: url(./assets/img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.sec-2-content {
    color: #fff;
}

.sec-2-text-1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1;
}

.sec-2-text-1>br {
    display: none;
}

.sec-2-input {
    color: #007bff;
}

.sec-2-text-2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1;
}

.sec-2-btn {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    color: #007bff;
    border-radius: 20px;
    border: 1px solid #007bff;
    padding: 1.25em 0;
    margin: 1.25em 0.5em 0 0;
}

.loadCV {
    background-color: #007bff;
    color: #fff;
}

.sec-2-btn:hover {
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    transition: all ease 0.4s;
}


/*--------Section 3 - About--------*/

.sec-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-text {
    position: relative;
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1;
    color: var(--second-color);
    z-index: 1;
}

.sec-text::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    height: 3px;
    background: var(--second-color);
    transform: translateX(-50%);
}

.sec-text::after {
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 0.2em;
    color: var(--second-color);
    padding: 0 0.375em;
    background: var(--first-color);
    transform: translateX(-50%);
}

.sec-3-text::after {
    content: "Who I Am";
}

.sec-3-content {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

.sec-3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);
    margin: 1.5em 0;
}

.sec-3-item i {
    font-size: 3.5em;
    color: #007bff;
}

.sec-3-item h2 {
    line-height: 50px;
    font-size: 1.8em;
    font-weight: 700;
    padding: 1% 0;
}

.sec-3-item p {
    font-size: 1.5em;
    line-height: 30px;
    text-align: center;
}


/*--------Section 4 - Contact--------*/

.sec-4-text::after {
    content: "What I Can";
}

.sec-4-content {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

.sec-4-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);
    margin: 1.5em 0;
}

.sec-4-item i {
    font-size: 3.5em;
    color: #007bff;
}

.sec-4-item h2 {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 50px;
    padding: 10px 0;
}

.sec-4-item p {
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
}


/*--------Section 5 - Project--------*/

.sec-5-text:after {
    content: 'What I made';
}

.sec-5-content {
    padding: 2% 0;
}

.sec-5-item {
    position: relative;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
    margin: 0.5em 0;
    overflow: hidden;
}

.sec-5-item:hover .sec-5-bg {
    left: 0%;
}

.thumnail {
    color: #000;
}

.sec-5-bg {
    display: flex;
    position: absolute;
    top: -15%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-size: 1.8em;
    transition: transformY(-100%) 0.5s;
}

.sec-5-img {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3%;
}

.sec-5-img img {
    width: 100%;
}

.sec-5-info {
    display: flex;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 30%;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-5-info h3 {
    color: #007bff;
}


/*--------Section 6 - Review--------*/

.banner {
    background-image: url(./assets/img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* filter: invert(15%) sepia(80%) saturate(3000%) hue-rotate(200deg) brightness(100%) contrast(100%); */
}

.sec-6-text {
    color: #fff;
}

.sec-6-text::before {
    background-color: #fff;
}

.sec-6-text::after {
    content: 'What they said';
    background-color: #3a226c;
    color: #fff;
}

.sec-6-content {
    padding: 2% 0;
}

.sec-6-slider {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.sec-6-list {
    display: flex;
}

.sec-6-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #fff;
    color: #000;
    position: relative;
    transition: ease-in-out 2s;
}

.sec-6-item .image {
    padding-bottom: 3%;
}

.sec-6-item img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.sec-6-item .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-6-item .name {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1;
}

.sec-6-item span {
    padding-bottom: 3%;
}

.sec-6-item .rate i {
    color: #007bff;
}

.sec-6-item .context {
    font-size: 1.5em;
    line-height: 30px;
}

.sec-6-item .job {
    font-style: italic;
    font-size: 1.25em;
    font-weight: 500;
}

.sec-6-img {
    display: flex;
    justify-content: flex-end;
    order: 2;
    height: 100%;
}

.sec-6-img img {
    width: 100%;
    height: 100%;
}

.sec-6-number {
    padding-top: 3%;
}

.sec-6-number-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.sec-6-number-item i {
    font-size: 50px;
    color: #007bff;
}

.sec-6-number-item span {
    font-size: 1.5em;
}

.sec-6-number-item h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 50px;
}


/*--------Section 7 - Contact--------*/

.sec-7-text::after {
    content: "Where I Am";
    background: var(--fourth-color);
}

.sec-7-content {
    padding: 2% 0;
}

.sec-7-map iframe {
    width: 100%;
    height: 13em;
}

.sec-7-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--second-color);
}

.sec-7-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 2%;
}

.sec-7-item a {
    color: var(--second-color);
}

.sec-7-item i {
    font-size: 1.5em;
    color: #007bff;
    width: 24px;
    height: 24px;
}

.sec-7-item p {
    font-size: 1.5em;
    padding: 0 8px;
    position: relative;
    display: inline-block;
}

.sec-7-form .row div {
    padding: 0 0.2em;
}

.sec-7-form input {
    width: 100%;
    height: 4.5em;
    font-size: 1em;
    line-height: 1;
    color: var(--second-color);
    border: none;
    border-bottom: 1px solid var(--second-color);
    background: 0 0;
}

.sec-7-form-text input {
    height: 6.25em;
}

.form-control:focus {
    border-bottom: 2px solid #007bff;
    transition: all ease 0.3s;
}

.sec-7-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.sec-7-btn button {
    font-size: 1em;
    font-weight: 500;
    border: none;
    color: var(--second-color);
    background: none;
}

.sec-7-btn button:hover {
    color: #007bff;
    transition: all ease 0.3s;
    cursor: pointer;
}


/*--------Section 8 - Blog--------*/

.sec-8-text:before {
    bottom: -10px;
}

.sec-8-text:after {
    content: "What I Wrote";
    bottom: -18px;
    min-width: 5.6em;
}

.sec-8-item {
    background: #f9f9f9;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
    margin: 5% 0;
}

.sec-8-item .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.sec-8-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-8-item .content {
    padding: 5%;
}

.sec-8-item .link {
    font-size: 1.25em;
}

.sec-8-item .link a {
    color: #0052aa;
}

.sec-8-item .link span {
    color: #000;
}

.sec-8-item h3 {
    font-size: 1.8em;
    color: #007bff;
    line-height: 1;
    text-align: center;
}

.sec-8-item p {
    font-size: 1em;
    color: #000;
    line-height: 1.5;
    text-align: start;
}

.sec-8-item .btn {
    color: #0052aa;
    cursor: pointer;
    font-size: 1.25em;
}


/*--------Section 9 - Quotes--------*/

.section-9 {
    background: linear-gradient(0deg, #007bff, var(--fourth-color));
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.text {
    margin-bottom: 5%;
}

.text p {
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: var(--second-color);
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .name,
.info .work {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--second-color);
}


/*--------Section 10 - Footer--------*/

.section-10 {
    position: relative;
    background-image: url(./assets/img/map-white.png);
    background-color: #007bff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.sec-10-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-bottom: 5%;
}

.sec-10-social a {
    font-size: 2em;
    color: #fff;
}

.sec-10-copyright {
    display: flex;
    color: #fff;
    font-size: 1em;
    justify-content: center;
    padding-top: 5%;
}


/*--------Loader--------*/

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100hv;
    width: 100%;
    background-color: #007bff;
    z-index: 999;
    display: none;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    vertical-align: top;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
}


/*--------Darkmode switch--------*/

.darkmode-switch {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 30px;
    font-size: 1.5em;
    z-index: 4;
    transition: all ease 0.5s;
}

.darkmode-switch span {
    font-size: 1em;
    padding: 0 .5em;
    color: var(--second-color)
}

.switch {
    display: inline-block;
    height: 2.5em;
    width: 5em;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    padding: 0;
}

.switch input {
    display: none;
}

.switch input+div {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: #007bff;
    padding: 0.3em;
}

.switch input+div::before {
    content: "";
    display: block;
    height: 1.9em;
    width: 1.9em;
    border-radius: 100%;
    background: #fff;
    transform: translateX(0);
    transition: transform .2s;
}

.switch input:checked+div::before {
    transform: translateX(2.5em);
}


/*--------To Top btn--------*/

#to-top {
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0052aa;
    transition: all ease-out 0.3s;
    z-index: 1;
    opacity: 0;
}

#to-top i {
    font-size: 1.5em;
    color: #fff;
    margin-top: 25%;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all ease-out 0.3s;
}

#to-top:hover {
    transform: scale(1.1);
}

#to-top.active {
    opacity: 1;
}